streamlit>=1.30.0
feedparser>=6.0.10
pandas>=1.5.0
spacy==3.6.1
thinc==8.1.12
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0-py3-none-any.whl
